<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui"
          name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="../img/asset-favico.ico" rel="icon">
    <title>登录</title>
    <link href="../css/page-health-login.css" rel="stylesheet"/>
    <link href="../plugins/elementui/index.css" rel="stylesheet"/>
    <script src="../plugins/jquery/dist/jquery.min.js"></script>
    <script src="../plugins/healthmobile.js"></script>
    <script src="../plugins/vue/vue.js"></script>
    <script src="../plugins/vue/axios-0.18.0.js"></script>
    <script src="../plugins/elementui/index.js"></script>
</head>
<body data-offset="150" data-spy="scroll" data-target="#myNavbar">
<div class="app" id="app">
    <!-- 页面头部 -->
    <div class="top-header">
        <span class="f-left"><i class="icon-back"></i></span>
        <span class="center">传智健康</span>
        <span class="f-right"><i class="icon-more"></i></span>
    </div>
    <div style="margin-left: 20px">手机快速登录</div>
    <!-- 页面内容 -->
    <div class="contentBox">
        <div class="login">
            <form id='login-form'>
                <div class="input-row">
                    <label>手机号</label>
                    <div class="loginInput">
                        <input id='account' placeholder="请输入手机号" type="text" v-model="loginInfo.telephone">
                        <input @click="sendValidateCode()" id="validateCodeButton" style="font-size: 12px" type="button"
                               value="获取验证码">
                    </div>
                </div>
                <div class="input-row">
                    <label>验证码</label>
                    <div class="loginInput">
                        <input id='password' placeholder="请输入验证码" style="width:80%" type="password"
                               v-model="loginInfo.validateCode">
                    </div>
                </div>
                <div class="input-row" style="font-size: 12px">
                    <input checked type="checkbox">
                    阅读并同意《传智健康用户协议》《传智健康隐私条款》
                </div>
                <div class="btn yes-btn"><a @click="login()" href="#">登录</a></div>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            loginInfo: {}//登录信息
        },
        methods: {
            //发送验证码
            sendValidateCode() {
            },
            //登录
            login() {
            }
        }
    });
</script>
</html>
